body {
background-image: linear-gradient(to bottom right, #0090FF, #00eeff);
repeat: none;
background-repeat: no-repeat;  
background-size: cover;   
}

#textarea {
width: 70%;
height: 900px;
padding: 10px;
border-radius: 10px;
font-family: Arial;
resize: none;
background-color: #F7F7F7;
border: 0px solid;
shadow: 1px 1px 0px 0px;
transition: 1s ease;
}
#textarea:hover {
width: 99%;
}
#textarea:focus {
width: 99%;
}


.divtop {
width: 1350px;
height: 60px;
border: 1px solid #49A3FF;
border-radius: 30px;
margin-bottom: 30px;
margin-top: 20px;
background-color: #49A3FF;
}

.size {
width: 20px;
height: 20px;
font-size: 15px;
margin-left: -150px; 
margin-right: 10px;
border: 0px solid #CECECE;
border-radius: 5px;

}

.font {
width: 40px;
height: 20px;
margin-right: 10px;
border: 0px solid #CECECE;
border-radius: 5px;
transition: 0.3s ease;
}

.font:hover {
width: 100px;
}
.font:focus {
width: 100px;
border: none;
}

.color {
width: 40px;
height: 20px;
margin-right: 10px;
border: 0px solid #CECECE;
border-radius: 5px;
transition: 0.3s ease;
}

.color:hover {
width: 100px;

}
.color:focus {
width: 100px;
border: none;
}
.output {
font-family: Sans-serif;
font-size: 25px;
}

button {
transition: transform 0.3s ease;
border: 0px solid;
background-color: white;
border-radius: 4px;
margin-left: 5px;
transition: ease 0.3s;
height: 50px;
margin-top: -20px;
font-weight: bold;
background-color: #3190FA;
color: white;
user-select: none;
}

button:hover {
background-color: #3279EE;
}

.input {
width: 110px;
height: 30px;
font-size: 20px;
border-radius: 7px;
border: none;
transition: 0.3s ease;
}

.input:hover {
width: 300px;
}
.input:focus {
width: 300px;
}


.demo {
font-size: 35px;
font-family: Arial;
}

.demo2 {
font-size: 25px;
font-family: Arial;
}

.page {
font-family: Sans-Serif;
font-size: 17px;
}
.pagediv {
position: fixed;
top: 2%;
right: 2%;
width: 100px;
height: 50px;
background-color: #F7F7F7;
opacity: 0.3;
border-radius: 20px;
transition: ease 0.2s
}
.pagediv:hover {
opacity: 1;
background-color: white;
width: 150px;
height: 50px;
}

#menuside {
position: fixed;
right: 1%;
top: 15%;
border-radius: 20px;
width: 450px;
height: 700px; 
display: none;
background-color: #49A3FF;
border: none;
box-shadow: 2px 2px 2px grey;
}

.menu {
transition: transform 0.3s ease;
border: 0px solid;
border-radius: 4px;
margin-left: 5px;
transition: ease 0.3s;
height: 50px;
margin-top: -50px;
margin-left: 1250px;
font-weight: bold;
background-color: #3190FA;
color: white;
user-select: none;
width: 50px;
}

.menu:hover {
background-color: #3279EE;
}


.undercon {
font-family: Helvetica;
font-size: 25px;
user-select: none;
color: white;
padding: 20px;
}

#addpage {
position: fixed;
bottom: 6%;
right: 16%;
width: 200px;
height: 120px;
}

#optin {
position: fixed;
bottom: 6%;
right: 2%;
width: 200px;
height: 120px;
background-image: linear-gradient(to bottom right, pink, #FFDCC0);
transition: ease 0.3s;
}

#optin:hover {
  background-image: linear-gradient(to bottom right, #FFB1BF, #FECEA7);
}